.container{
    margin-top: 100px;
    padding: 0;
    margin-bottom: 50px;
}
.card{
    overflow: hidden;
    padding: 0;
    border-radius: 20px;
    border: none;
    margin: 10px;
    background: unset;
}
.card img{
    border-radius: 25px;
}
.card:hover img{
    transform: scale(1.6);
}
.card-body{
    height: 64px;
}
.row{
    display: flex;
    justify-content: center;
}
.row .card:hover{
    color: var(--light);
}
.card-title{
    text-align: center;
    position: absolute;
    right: 0;
    z-index: 9;
    left: 0;
}
.over__lay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    background: var(--darkOpocity);
    display: none;
}
.card:hover .over__lay{
    display: block;
}
.details{
    width: 15rem;
}
.series__desc{
    width: calc( 100% - 15rem);
    padding: 10px;
}
.title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.detail{
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
}
.detail div{
    font-family: var(--font-family-raleway);
}
.episode__list{
    margin: 120px 5px 25px 5px;
    width: 100%;
}
.link__to{
    padding: 8px 12px;
    border-radius: 5px;
    background: var(--blue);
    font-size: 1.3rem;
    margin: 3px;
    color: white;
    font-family: var(--font-family-lato);
}
.link__to:hover{
    color: var(--blue);
    background: white;
}
video{
    width: 100%;
}
.button{
    display: flex;
    margin: 5px;
    justify-content: center;
}
.movie__item{
    padding-top: 120%;
}
.movie__item:hover img {
    transform: scale(1.6) translateY(30px);
}

/**vidoe player*/
.video-container{
    position: relative;
    overflow: hidden;
    background-color: black;
    display: flex;
}
.controller{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 1s;
    transform: translateY(60px);
}
.controller.active{
    transform: translateY(10px);
}
.progress__bar{
    width: 100%;
    height: 10px;
    background: rgba(97, 88, 88, 0.692);
    overflow: hidden;
}
.watched__bar{
    width: 80%;
    background: var(--blue);
    height: 20px;
    z-index: 3;
}
.playhead{
    background: rgba(97, 88, 88, 0.692);
    background: var(--blue);
    height: 20px;
    width: 100%;
    z-index: 1;
}
.middle{
    margin: auto;
}
.right,.left{
    display: flex;
}
.controller button{
    background: unset;
    color: white;
    border: unset;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 5px;
}
.controller button i {
    font-size: 1.6rem;
    padding: 5px 5px;
}
.controller button:hover{
    background: var(--blue);
}
.timeline{
    position: absolute;
    bottom: 60px;
    background: var(--blue);
    border-radius: 5px;
    padding: 0 5px;
    color: white;
}
.video__title{
    color: white;
}
.cog__container,.voice__container,.cc__container{
    position: relative;
}
.cox__box,.cc__box{
    position: absolute;
    bottom: 60px;
    font-size: 1.2rem;
    background: var(--blue);
    padding: 0px 15px;
    border-radius: 10px;
    color: white;
    display: none;
    right: 3px;
    flex-direction: column;
}
.form-range{
    transform: rotate(270deg);
    width: 90px;
    position: absolute;
    top: -60px;
    font-size: 1.1rem;
    background: var(--blue);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    flex-direction: column;
    left: -22.5px;
    height: 35.61px;
    display: none;
}
.speed,.sub__title{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: flex-start;
}
.cog__container span{ 
    margin: 0 3px;
}
.sub__title__lang{
    display: flex;
    flex-direction: column;
}
.sub__title__lang span{
    padding-right: 5px;
}
.sub__title__lang .active{
    border-bottom: 2px solid white;
}
.cc__btn.active{
    background-color: var(--blue);
}
video::cue {
    color: var(--color);
    font-size: var(--fontsize);
    background: var(--background);

}
.settings{
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    padding: 10px;
    background: var(--dark);
    border-radius: 10px;
}
.settings div {
    display: flex;
    margin: 10px;
    align-content: space-between;
    align-items: flex-end;
}
.settings input{
    background: unset;
    border: unset;
    color: var(--light);
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 30px;
}
#fontSize{
    border-bottom: 2px solid var(--blue);
}
.settings label {
    padding-right: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-width: 600px) {
    .row{
        flex-direction: column;
    }
    .details{
        margin: auto;
    }
    .series__desc{
        width: 90%;
        padding: 10px;
        margin: auto;
    }
    .video__title{
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .controller button i {
        font-size: 5vw;
        padding: 0 3px;
    }
    .form-range{
        height: unset;
        left:  5vw;
    }
}